<?xml version = '1.0' encoding = 'windows-1252'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <description>Empty web.xml file for Web Application</description>
    <servlet>
         <servlet-name>Authenticate</servlet-name>
         <servlet-class>com.google.gsa.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kerberos</servlet-name>
        <servlet-class>com.google.gsa.Kerberos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAMLAuthNResolve</servlet-name>
        <servlet-class>com.google.gsa.valve.saml.authn.SAMLAuthNResolve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAMLAuthZ</servlet-name>
        <servlet-class>com.google.gsa.valve.saml.authz.SAMLAuthZ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kerberos</servlet-name>
        <url-pattern>/kerberos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAMLAuthNResolve</servlet-name>
        <url-pattern>/samlauthnresolve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAMLAuthZ</servlet-name>
        <url-pattern>/samlauthz</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>    
    <!--Error Code Section. Do not set up here 401 error-->
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/500.html</location>
    </error-page>
    <!-- Valve Config Location. Only if SAML is enabled -->
    <env-entry>
        <description>GSA Valve Config Path</description>
        <env-entry-name>gsaValveConfigPath</env-entry-name>
        <env-entry-value>C:\Program Files\Tomcat 5.5\common\classes\gsaValveConfig.xml</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>     
    </env-entry>
</web-app>