<?xml version = '1.0' encoding = 'windows-1252'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <description>Empty web.xml file for Web Application</description>
    <servlet>
         <servlet-name>Authenticate</servlet-name>
         <servlet-class>com.google.gsa.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kerberos</servlet-name>
        <servlet-class>com.google.gsa.Kerberos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kerberos</servlet-name>
        <url-pattern>/kerberos</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>    
    <!--Error Code Section. Do not setup here an entry for Error 401-->
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/500.html</location>
    </error-page> 
</web-app>

